<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}} {{name}}!
  </h1>
</div>
<header>
	<div><img width="300" src="/assets/image/Titre.png"></div>
	<ul id="nav">
		<li><a href="/.">Accueil</a></li>
		<li><a href="/app/list.html">Gite</a></li>
		<li><a href="/publish">Déposer annonces</a></li>
		<li><a href="/contact">Contact</a></li>
		<li>
			<form id="search-form" name="search" action="/list" method="get">
			<input id="search-input" name="search" type="text">
			<input width="40" src="/assets/image/search-button.png" name="submit" type="image">
		</form>
		</li>
	</ul>
</header>
<body>
	<div id="container">
	<div id="center">
		<p>{{introduction}}</p>
		
		<h1>{{leftTitle}}</h1>
		<h1>{{title}}</h1>

	   <nav>
		 <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
		 <a routerLink="/heroes" routerLinkActive="active">Heroes</a>
	   </nav>
		<router-outlet></router-outlet>		
	</div>
	</div>
</body>
<footer>
	<div id="left-footer">
		<p>{{location}}</p>
	</div>
	<div id="center-footer">
		<p>{{law}}</p>
		<p>{{right}}</p>
	</div>
	<div id="right-footer">
		<p>Partager</p>
	</div>
</footer>

